.table{
	padding:1% 19% 5% 19%;
}

.center{
	text-align:center;
	margin: 0 auto;
}

.img-inner{
	max-width:600px;
	height :400px;
	margin: 0 auto;
	overflow: hidden;/*要素のボックス(？)からはみ出した部分をどう扱うかを指定するものらしい。hiddenだと、はみ出た部分が隠れるらしい。*/
	position: relative;/*参考:https://techacademy.jp/magazine/31004*/
}

.img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;/*不透明度らしい*/
	transition: all 1.0s 0s ease;/*変化が滑らかになるよ　すべての要素を1秒かけて変化させる、遅延は0秒みたいな意味。最後のeaseは変化の仕方らしい*/
}

.current-img{
	opacity :1;
	z-index :20;/*値が大きいほど上に来るみたいなイメージ。*/
}

.menu{
	display: flex;
	justify-content:space-around;/*なんかここにflex-basisを置いても何も起こらないのにwidthだとおかしなことになる・・・*/
	list-style-type: none;
	color: #9966FF;
}

.menu li{
	text-align: center;
	position :relative;
	flex-basis: 200px;/*重ねるとこ(語彙力)の幅*/
	margin-left: 20px;
	background: #66FF66;
	padding:5px;
	list-style: none;//ポッチを消す魔法(適当)
}

.dropdown-menu{
	position: absolute;
	display:none;
	z-index:30;
	margin-left:-65px;
}

.dropdown-menu.open{
	display: block;
}

.dropdown-menu li a{
	display: block;
	text-decoration: none;
	background: #66FF66;
	color: #9966FF;
	border: 2px solid #FF6666;
	padding:5px;
	margin-left:-5px;
	margin-right:-5px;
	margin-bottom:-5px;
	margin-top:-5px;
}

.dropdown-menu li a:hover{
	background: #FFCA7B;
}